section.hero {
  position: relative;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.25rem;
  font-weight: 700;
  gap: 1rem;
  overflow: hidden;
  padding: 1rem;

  /* >* {
    position: relative;
    z-index: 2;
  } */

  header.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    flex-wrap: nowrap;

    img.titleLogo {
      width: 6em;
      height: 5em;
      object-fit: contain;
    }

    img.fontTitle {
      width: 10em;
      height: 5em;
      object-fit: contain;
      filter: drop-shadow(15px 15px 15px rgba(255, 255, 255, 0.9));
      /*mask-image: url('./font.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
      */
    }

    h1.heading {
      font-size: 2.25rem;
      font-weight: 700;
      width: 10ch;
      text-wrap: pretty;
      overflow-wrap: break-word;
    }
  }

  div.visual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img.heroImg {
      height: 10rem;
      --tw-bg-opacity: 1;
      background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
        /* #e5e7eb */
      ;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
    }
  }

  h2.heading {
    font-size: 1.2rem;
    font-weight: 600;
    width: 16ch;
    text-wrap: pretty;
    overflow-wrap: break-word;
  }

  div.ctaBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a.ctaBtn {
      font-weight: 700;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: #fff;
      font-size: 1.25rem;
    }

    a.main {
      background-color: var(--primary-color);

      &:hover {
        background-color: #f97316;
      }
    }

    a.secondary {
      background-color: var(--accent-color);

      &:hover {
        background-color: #15803d;
      }
    }
  }

  div.benefits {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;

    div.benefitContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img.crown {
        width: 1.5em;
        height: 1.5em;
      }

      span.benefit {
        font-weight: 700;
        font-size: 2.25rem;
      }

      span+p {
        font-size: 1.2rem;
        font-weight: 400;
        color: #4b5563;
      }
    }
  }
}

section.hero>* {
  position: relative;
  z-index: 2;
}

section.hero::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 0;
  width: 200%;
  height: 200%;
  background-image: url("./marcaagua.png"),
    url("./marcaagua.png"),
    url("./marcaagua.png"),
    url("./marcaagua.png");
  background-size: 150px 150px;
  background-repeat: repeat;
  background-position: 0px 0px,
    75px 75px,
    150px 0px,
    225px 75px;
  opacity: 0.07;
  transform: rotate(-12deg) scale(1.2);
  /* ligera inclinación */
  transform-origin: center;
  z-index: 0;
  pointer-events: none;
}

section.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 60%,
      rgb(247, 241, 218) 100%);
  z-index: 1;
  pointer-events: none;
}

/* Responsive design (mobile first) */

@media only screen and (min-width: 768px) {
  section.hero div.benefits {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  section.hero div.ctaBtns {
    flex-direction: row;
  }

  section.hero div.ctaBtns a.ctaBtn {
    font-size: 2.25rem;
  }
}
