section.availableOn {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  font-weight: 700;
  gap: 1.5rem;
  /* max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1.5rem; */

  header {
    h2.heading {
      font-size: 1.5em;
      font-weight: 600;
      width: 100%;

      span {
        color: var(--primary-color);
      }
    }

    h3.subheading {
      font-size: 0.7em;
      font-weight: 400;
    }
  }

  div.platforms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    a.link {
      padding: 1rem;
      border-radius: 0.5rem;
      width: 15rem;
      height: 15rem;
      aspect-ratio: 1/1;

      img.imgLink {
        object-fit: fill;
      }
    }
  }

  div.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4B5563;

    span {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}
