:root {
  color-scheme: light dark;
  interpolate-size: allow-keywords;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: hsl(27, 96%, 61%);
    --accent-color: hsl(142, 76%, 36%);
    --alert-color: hsla(0, 100%, 50%, 0.847);
    --font-color: hsl(0, 0%, 10%);
    --font-aux-color: hsl(215, 14%, 34%);
    accent-color: var(--accent-color);
    color: var(--font-color);
  }

  ::selection {
    background-color: var(--accent-color);
    color: hsl(0, 0%, 100%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: hsl(27, 64%, 53%);
    --accent-color: hsl(142, 81%, 30%);
    --alert-color: hsla(0, 84%, 40%, 0.847);
    --font-color: black;
    --font-aux-color: hsl(215, 14%, 36%);
    accent-color: var(--accent-color);
    color: var(--font-color);
  }

  ::selection {
    background-color: var(--accent-color);
    color: hsl(0, 0%, 100%);
  }
}
