@keyframes appear {
  from {
    opacity: 0.75;
    transform: scale(0.75);
    filter: brightness(150%);
  }

  to {
    opacity: 1;
    transform: scale(1);
    filter: brightness(100%);
  }
}

section.coupons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  font-weight: 700;
  padding: 1rem;
  gap: 1rem;

  animation: appear 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;

  header {
    text-wrap: pretty;
    overflow-wrap: break-word;

    h2.heading {
      font-size: 1.25em;
      font-weight: 600;

      span,
      .icon {
        color: var(--primary-color);
      }
    }

    h3.subheading {
      font-size: 0.6em;
      font-weight: 400;
    }
  }

  div.couponsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img.equal,
    img.arrowLeft,
    img.arrowRight {
      display: none;
    }

    figure.coupon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      img {
        max-width: 100%;
        aspect-ratio: 16/9;
        /* object-fit: cover;
        object-position: center;
        filter: brightness(100%); */
        border-radius: 2.5rem;
        transition: transform 0.3s ease-in-out;
      }

      figcaption {
        font-size: 1rem;

        h4 {
          font-size: 1.25rem;
          font-weight: 600;
          color: var(--primary-color);
        }

        p {
          max-width: 38ch;
          text-wrap: pretty;
          overflow-wrap: break-word;
          font-weight: 500;
          color: #4b5563;
        }
      }
    }

    div.rowCouponsContainer {
      display: none;
    }
  }

  span.disclaimer {
    font-size: 1rem;
    font-weight: 400;
    color: #4B5563;
    max-width: 38ch;
    text-wrap: pretty;
    overflow-wrap: break-word;
  }
}

/* responsive design (mobile first) */

@media only screen and (min-width: 768px) {
  section.coupons {
    header {
      h2.heading {
        font-size: 1.5em;
      }

      h3.subheading {
        font-size: 0.7em;
      }
    }

    div.couponsContainer {
      position: relative;

      img.arrowLeft,
      img.arrowRight {
        display: inline;
        position: absolute;
        top: 20%;
        left: 20%;
        width: 4rem;
      }

      span {
        font-size: 1rem;
        font-weight: 400;
        color: #4B5563;
      }

      img.arrowLeft {
        transform: scaleX(-1) rotate(120deg);
      }

      img.equal {
        width: 3rem;
      }

      img.arrowRight {
        transform: scaleX(1) rotate(-230deg);
      }

      img.couponImage {
        transition: transform 0.6s ease-in-out;

        @media(hover: hover) and (pointer: fine) {
          &:hover {
            transform: scale(1.05);
            content: url('/coupons/coupon-holder-back.png');
            transform: rotateY(180deg);
          }
        }
      }

      figure.coupon {
        img {
          width: 25rem;
        }

        img:nth-of-type(2) {
          display: none !important;
        }
      }

      figure.coupon,
      figure.reward {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        img {
          @media(hover: hover) and (pointer: fine) {
            &:hover {
              transform: scale(1.05);
            }
          }
        }

        figcaption {

          p {
            min-width: 64ch;
          }
        }
      }

      figure.reward {
        img {
          width: 20rem;
        }
      }

      div.rowCouponsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        figcaption {

          h4 {
            color: var(--accent-color);
          }
        }
      }
    }
  }

  span.disclaimer {
    min-width: 48ch;
  }
}
