@keyframes appear {
  from {
    opacity: 0.75;
    transform: scale(0.75);
    filter: brightness(150%);
  }

  to {
    opacity: 1;
    transform: scale(1);
    filter: brightness(100%);
  }
}

section.coupons {
  animation: appear 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

section.coupons {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  font-weight: 700;
  gap: 1rem;

  header {
    h2.heading {
      font-size: 1.5em;
      font-weight: 600;
      width: 100%;

      span,
      .icon {
        color: var(--primary-color);
      }
    }

    h3.subheading {
      font-size: 0.7em;
      font-weight: 400;
    }
  }

  div.couponsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;

    img.arrowLeft {
      position: absolute;
      top: 55%;
      left: 15%;
      transform: scaleX(-1) rotate(120deg);
      width: 2rem;
    }

    img.equal {
      width: 2rem;
    }

    img.arrowRight {
      position: absolute;
      top: 65%;
      right: 15%;
      transform: scaleX(1) rotate(-230deg);
      width: 2rem;
    }

    span {
      font-size: 1rem;
      font-weight: 400;
      color: #4B5563;
    }

    img.couponImage {
      transition: transform 0.6s ease-in-out;

      &:hover {
        transform: scale(1.05);
        content: url('/coupons/coupon-holder-front.jpg');
        transform: rotateY(180deg);
      }
    }

    figure.coupon,
    figure.reward {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      img {
        width: 25rem;
        aspect-ratio: 16/9;
        border-radius: 2.5rem;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }

      figcaption {
        font-size: 1rem;

        h4 {
          font-size: 1.25rem;
          font-weight: 600;
          color: var(--primary-color);
        }

        p {
          width: 38ch;
          text-wrap: pretty;
          font-weight: 500;
          color: #4b5563;
        }
      }
    }

    div.rowCouponsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      figcaption {

        h4 {
          color: var(--accent-color);
        }
      }
    }
  }

  span.disclaimer {
    font-size: 1rem;
    font-weight: 400;
    color: #4B5563;
    width: 38ch;
    text-wrap: pretty;
  }
}

/* responsive design (mobile first) */

@media only screen and (min-width: 768px) {
  section.coupons {
    div.couponsContainer {

      img.arrowLeft {
        top: 20%;
        left: 20%;
        width: 4rem;
      }

      img.equal {
        width: 3rem;
      }

      img.arrowRight {
        top: 20%;
        right: 20%;
        width: 4rem;
      }

      figure.coupon,
      figure.reward {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        figcaption {

          p {
            width: 64ch;
          }
        }
      }

      div.rowCouponsContainer {
        flex-direction: row;
      }
    }
  }

  span.disclaimer {
    width: 48ch;
  }
}
