section.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.25rem;
  font-weight: 700;
  gap: 1rem;

  h1.heading {
    font-size: 2.25rem;
    font-weight: 700;
  }

  h2.heading {
    font-size: 1.2rem;
    font-weight: 600;
  }

  div.ctaBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a.ctaBtn {
      font-weight: 600;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: #fff;
      font-size: 1.25rem;
      font-weight: 700;

      /*margin-top: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      font-weight: 700;
      color: #fff;
      background-color: #2563eb;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: background-color 0.2s;
      */
    }

    a.main {
      background-color: var(--primary-color);

      &:hover {
        background-color: #f97316;
      }
    }

    a.secondary {
      background-color: var(--accent-color);

      &:hover {
        background-color: #15803d;
      }
    }
  }

  div.benefits {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;

    div.benefitContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img.crown {
        width: 1.5em;
        height: 1.5em;
      }

      span.benefit {
        font-weight: 700;
        font-size: 2.25rem;
      }

      span+p {
        font-size: 1.2rem;
        font-weight: 400;
        color: #4b5563;
      }
    }
  }
}

/* responsive design (mobile first) */

@media only screen and (min-width: 768px) {
  section.hero {
    div.benefits {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    div.ctaBtns {
      flex-direction: row;

      a.ctaBtn {
        font-size: 2.25rem;
      }
    }
  }
}
