@keyframes appear {
  from {
    opacity: 0.75;
    transform: scale(0.75);
    filter: brightness(150%);
  }

  to {
    opacity: 1;
    transform: scale(1);
    filter: brightness(100%);
  }
}



section.order {
  animation: appear 3s linear, glow 2s ease-in-out infinite alternate;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  font-weight: 700;
  position: relative;
  padding: 2rem; 
}


section.order div.footerCard {
  position: absolute;
  bottom: 2%;
  width: 100%;
  height: 75%;
  background-color: #ffc44f; 
  z-index: -3;
  border-radius: 2rem;
}




section.order header h2.heading {
  font-size: 1.5em;
  font-weight: 600;
  width: 100%;
}

section.order header h2.heading span {
  color: var(--primary-color);
}

section.order header h3.subheading {
  font-size: 1.2rem;
  font-weight: 400;
}

section.order a.whatsappBtn {
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #22c55e;
  font-weight: 400;
  padding: 0.75rem 1.5rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

section.order a.whatsappBtn svg.icon {
  font-size: 2.5rem;
}

section.order a.whatsappBtn:hover {
  background-color: var(--accent-color);
  font-weight: 600;
}

section.order img.arrowLeft {
  position: absolute;
  top: 100%;
  left: 15%;
  rotate: 20deg;
  width: 3rem;
}

section.order img.arrowRight {
  position: absolute;
  top: 100%;
  right: 15%;
  transform: scaleX(-1) rotate(20deg);
  width: 3rem;
}

/* responsive design (mobile first) */
@media only screen and (min-width: 768px) {
  section.order img.arrowLeft {
    top: 70%;
    left: 30%;
    rotate: 100deg;
    width: 4rem;
  }

  section.order img.arrowRight {
    top: 70%;
    right: 30%;
    transform: scaleX(-1) rotate(100deg);
    width: 4rem;
  }
  
  section.order div.footerCard {
    position: absolute;
    bottom: 2%;
    left: 25%;
    width: 50%;
    height: 75%;
    background-color: #ffc44f; 
    z-index: -3;
    border-radius: 2rem;
  }

}
