section.order {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  font-weight: 700;
  position: relative;

  header {
    h2.heading {
      font-size: 1.5em;
      font-weight: 600;
      width: 100%;

      span {
        color: var(--primary-color);
      }
    }

    h3.subheading {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  a.whatsappBtn {
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #22c55e;
    font-weight: 400;
    padding: 0.75rem 1.5rem;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;

    svg.icon {
      font-size: 2.5rem;
    }

    &:hover {
      background-color: var(--accent-color);
      font-weight: 600;

    }
  }


  img.arrowLeft {
    /* background-image: url('../assets/arrow-deco.svg');
    mask-image: url('arrow-deco.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--primary-color); */
    position: absolute;
    top: 100%;
    left: 15%;
    rotate: 20deg;
    width: 3rem;
  }

  img.arrowRight {
    /* background-image: url('arrow-deco.svg');
    mask-image: url('arrow-deco.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--primary-color); */
    position: absolute;
    top: 100%;
    right: 15%;
    transform: scaleX(-1) rotate(20deg);
    width: 3rem;
  }
}


/* responsive design (mobile first) */

@media only screen and (min-width: 768px) {
  section.order {
    img.arrowLeft {
      top: 70%;
      left: 30%;
      rotate: 100deg;
      width: 4rem;
    }

    img.arrowRight {
      top: 70%;
      right: 30%;
      transform: scaleX(-1) rotate(100deg);
      width: 4rem;
    }
  }
}
