section.stores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  font-weight: 700;

  header {
    h2.heading {
      font-size: 1.5em;
      font-weight: 600;
      width: 100%;

      span,
      svg.icon {
        color: var(--primary-color);
      }
    }

    h3.subheading {
      font-size: 1.2rem;
      font-weight: 400;

    }
  }

  div.stores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 0.5rem;
    border: 3px solid var(--accent-color); */
    /* position: relative;
    overflow: hidden; */
    padding: 1.5rem;
    gap: 1rem;
    /* width: 100%; */

    h4.title {
      /* position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
      font-size: 1.8rem;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      min-width: 90%;
    }

    h4+h5 {
      font-size: 1.2rem;
      font-weight: 400;
    }

    div.gallery {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      img.imgGallery {
        width: 7rem;
        object-fit: cover;
        border-radius: 0.5rem;
        aspect-ratio: 9/16;
      }
    }

    div.info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      span,
      a {
        font-size: 1rem;
        font-weight: 500;
        color: #4B5563;
        width: 32ch;
        text-wrap: pretty;

        .icon {
          color: var(--accent-color);
        }
      }

      a {
        text-decoration: underline;
      }
    }
  }
}

/* responsive design (mobile first) */

@media only screen and (min-width: 768px) {
  section.stores {
    div.stores {

      div.gallery {
        img.imgGallery {
          width: 15rem;
        }
      }

      div.info {

        span,
        a {
          font-size: 1.2rem;
          width: fit-content;
        }
      }
    }
  }
}
