form.form {
  max-width: 24rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-aux-color);
  box-shadow: 0 4px 6px -1px var(--shadow-md), 0 2px 4px -2px var(--shadow-md);

  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    color: var(--font-aux-color);
    border: none;
  }

  legend.legend {
    font-size: 1.2rem;
    margin: 1rem 0rem;
    font-weight: 600;
  }

  input.input,
  textarea.textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--details-color);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Oswald", sans-serif;

    &:is(:hover, :focus) {
      border-color: var(--accent-color);
      outline: none;
    }
  }

  button.btn {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--whatsapp-color);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--accent-color);
      font-weight: 600;
    }
  }
}

/* Responsive design (mobile first) */

@media only screen and (min-width: 768px) {
  form.form {
    min-width: 32rem;
  }
}
