@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* accessibility */
@media (prefers-reduced-motion: no-preference) {
  /* smooth scroll */
  @supports (scroll-behavior: smooth) {
    html {
      scroll-behavior: smooth;
    }
  }
}

section {
  /*Para que todo el contenido esté por encima del fondo */
  position: relative;
  z-index: 1;
  scroll-margin-top: 8vh;
}
